.App{
  background-color: aquamarine;
  /* height: 100vh;
  width: 100%; */
}

.main_title{
  font-size: 60px;
  text-align: center;
}
.main_title_hr{
  width: 60px;
  color: green;
}
.main_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container{
  /* max-width: 30%; */
  box-shadow: 0px 0px 8px black;
  border-radius: 10px;
  flex:  0 0 33.33%;
  margin: 1rem;
  max-width: 30%;
  overflow: hidden;
  background-color: white;
  height: 500px;


}
img{
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.card_title{
  font-size: 2rem;
  font-weight: 500;
  margin: 0.5rem 0;
}


@media (min-width: 768px) and (max-width: 991px) {
  .card-container{
    flex:  0 0 40%;
    max-width: 40%;
  }
}
@media (max-width: 767px) {
  .card-container{
    flex:  0 0 70%;
    max-width: 70%;
  }
}